<div class="container">
  <div class="row text-center align-items-center">
    <div class="col-12 col-md-6">
      <h1 class="fw-bold">Employee Payroll Management</h1>
      <p class="lead">Efficiently streamline employee compensation with our payroll management, ensuring accurate and timely remuneration.</p>
      <button type="button" class="btn btn-warning" routerLink="Register">Register</button>
    </div>
    <div class="col-6 d-none d-md-block shadow p-2" style="border-radius: 30px;">
      <img src="https://img.freepik.com/free-vector/accountant-office-manager-professional-bookkeeper-concept-tax-calculating-reporting-business-character-making-money-transfer-vector-illustration_613284-1042.jpg?w=740&t=st=1691774820~exp=1691775420~hmac=428d5af8e4951b985f1396cbb4e20610ab6accf83de1bb2f77eb118b855a9b56" alt="payroll image" width="90%">
    </div>
  </div>
</div>